@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper .outer {
  position: relative;
  height: 70px;
  width: 220px;
  background: #111;
  border-radius: 50px;
}

.outer button {
  position: absolute;
  height: 60px;
  width: 210px;
  background: #111;
  color: #fff;
  border-radius: 50px;
  outline: none;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 9;
}

.outer:hover {
  background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
  animation:  anim 1.5s linear infinite;
}

.outer span {
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.outer:hover span:nth-child(1) {
  filter: blur(7px);
}

.outer:hover span:nth-child(2) {
  filter: blur(14px);
}




@keyframes anim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
